@using Blogger.Enums
@model Category
@{
    ViewData["Title"] = "Create A Category";
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet" asp-append-version="true">
}
<partial name="~/Views/Shared/Common/_TitleNavigationPartial.cshtml"
         model='("Create A Category", "/", "Dashboard", "Category")'></partial>
@if (TempData["type_error"] != null)
{
    <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["type_error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["size_error"] != null)
{
    <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["size_error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="card">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="card-body">
            <div class="mb-3 row">
                <label asp-for="Media" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="file" asp-for="Media"
                           id="formFile" name="Image">
                    <span asp-validation-for="Media" id="errorMessege" class="text-danger"></span>
                    <div id="imagePreview" class="d-flex justify-content-center align-items-center border border-dashed" style="width: 100px; height: 100px; margin-top: 10px;">
                        <img src="" style="width: 100%; height:100%;" id="show" />
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input class="form-control" type="text" asp-for="Name"
                           placeholder="Enter the name of the Category">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Status" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control">
                        <option value=" " selected="selected">--Select Category Status--</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="ParentId" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <select asp-for="ParentId" class="form-control" asp-items="@(ViewBag.Lists)">
                        <option value="" selected="selected">--Select Parent Category--</option>
                    </select>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Content" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <textarea id="summernote" class="form-control" style="resize: none;" asp-for="Content" rows="5"
                              placeholder="Write about your Category..."></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-secondary">
                <a asp-action="Lists" style="text-decoration: none;" class="text-white">Cancel</a>
            </button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml"></partial>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#summernote').summernote();
            var box = $("#imagePreview");
            var display = $("#show");
            var inputImage = $("[name='Image']");
            var errorSpan = $("#errorMessege");
            display.hide();
            box.width(0);
            box.height(0);
            inputImage.on("change", (e)=>{
                var object = e.target.files[0];
                var url = URL.createObjectURL(object);
                display.attr("src", url);
                display.show();
                box.width(200);
                box.height(200);
                var image = new Image();
                image.src = url;
                image.onload = function()
                {
                    var width = image.width;
                    var height = image.height;
                    if(width < 100 || height < 100)
                    {
                        errorSpan.text("Image width and height must be at least 100px");
                    }
                    else
                    {
                        errorSpan.text("");
                    }
                }
            })
        })
    </script>
}